<table>
	<tr>
		<td>Bob's Generated Binary String:</td>
		<td><%= @bit_string %></td>
	</tr>
</table>
<br><br>
<% if @xored_hash %>
Coin <b><%= params[:coin][:serial] %></b> has been been deposited already.
	<table>
	<th>ID</th>
	<th>Coin Abuser</th>
	<th>Valid coin?</th>
	
	<% for i in 0..15 %>
		<tr>
			<td><%= i %></td>
			<td><%= @xored_hash[i] %></td>
			<td><%= @verify_half_hash[i] %></td>
		</tr>
	<% end %>
</table>
<% else %>
Coin <b><%= params[:coin][:serial] %></b> has been successfully deposited!
<%end%>
