<br>
<br>
<table>
	<tr>
		<td>Serial:</td>
		<td><%= @random_string %></td>
	</tr>
	<tr>
		<td>Denomination:</td>
		<td>$<%= @denomination %></td>
	</tr>
	<tr>
		<td>Identity:</td>
		<td><%= @identity_string %></td>
	</tr>
</table>

<table>
	<th>ID</th>
	<th>Serial</th>
	<th>Identity Num</th>
	<th>Key (Hex)</th>
	<th>Identity String XORed with Key</th>
	
	<% for i in 0..15 %>
		<tr>
			<td><%= i %></td>
			<td><%= @random_string %></td>
			<td><%= i %></td>
			<% if i == 15 %>
				<td>Coin verified!</td>
				<td>Coin verified!</td>
			<% else %>
				<td><%= @identity_keys[i] %></td>
				<td><%= @identity_xored_keys[i] %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<br/></br/>
Revealed identity using row 12: <%= @identity_revealed %>
<br/></br/>

Bit string (Bob generates): <%= @bit_string %><br/><br/>

<table>
	<th>ID</th>
	<th>Serial</th>
	<th>Bob's Half</th>
	<th>Signature</th>
	<th>Signature Verified</th>
	
	<% for i in 0..15 %>
		<tr>
			<td><%= i %></td>
			<td><%= @random_string %></td>
			<td><%= @identity_half[i] %></td>
			<td><%= @identity_half_signature[i]  %></td>
			<td><%= @identity_half_signature_verified[i] %></td>
		</tr>
	<% end %>
</table>
