<h1>Account</h1>
<table>
	<th>
		Amount
	</th>
	<tr>
		<td>
			<% if @account %>
				$<%= @account.amount %>
			<% else %>
				Empty
			<% end %>
		</td>
	</tr>
</table>
<br/></br/>
<table>
	<th>
		Coins
	</th>
	<th>
		Denomination
	</th>
	<% if @coins.size > 0 %>
		<% @coins.each do |coin|%>
			<tr>
				<td><%= (coin.serial).upcase %></td>
				<td>$<%= (coin.denomination) %></td>
				<td>
						<%= form_tag(:action => 'transfer_hands') do |f| %>
						<%= select(:coin, "recipient_id", @account_holders.collect {|p| [ p.username, p.id ] }, {:prompt => 'Select Merchant'}) %>
						<%= hidden_field(:coin, "serial", :value => coin.serial) %>
						<%= submit_tag "Send Coin"%>
						<% end %>
						
				</td>
				<td><%= button_to "Verify", {:controller => "assets", :action => "verify_coin", :serial => (coin.serial).downcase}, :method => "put", :remote => true %></td>
			</tr>
		<%end %>
		<tr>
			<td colspan="4" align="center">
				<h2><span id="verify"></span></h2>
			</td>
		</tr>
	<% else %>
	<tr>
		<td>No coins!</td>
		<td> </td>
	</tr>
	<% end %>
</table>

<br/></br/>
<table>
	<th>
		Received Coins
	</th>
	<th>
		Denomination
	</th>
	<th></th>
	<% if @coins_received.size > 0 %>
		<% @coins_received.each do |coin|%>
			<tr>
				<td><%= (coin.serial).upcase %></td>
				<td>$<%= (coin.denomination) %></td>
				<td>
					<%= form_tag(:controller => "bank", :action => 'deposit') do |f| %>
						<%= hidden_field(:coin, "serial", :value => coin.serial) %>
						<%= submit_tag "Deposit Coin"%>
					<% end %>
				</td>
			</tr>
		<%end %>
	<% else %>
	<tr>
		<td>No coins!</td>
		<td> </td>
	</tr>
	<% end %>
</table>