
<h3>AES Example</h3>
<%= form_for(:aes, :url => {:controller => 'examples', :action => 'aes'}) do |f| %>
		<p>Key: <%= f.text_field :pass %></p>
		<p>Msg: <%= f.text_field :msg %></p>
		<%= f.submit "Submit" %>
<% end %>

<br/>
<br/>

<h3>RSA Example</h3>
<%= form_for(:rsa, :url => {:controller => 'examples', :action => 'rsa'}) do |f| %>
		<p>Msg: <%= f.text_field :msg %></p>
		<%= f.submit "Submit" %>
<% end %>

<br/>
<br/>

<h3>XOR Example</h3>
<%= form_for(:xor, :url => {:controller => 'examples', :action => 'xor'}) do |f| %>
		<p>Msg 1: <%= f.text_field :binary0 %></p>
		<p>Msg 2: <%= f.text_field :binary1 %></p>
		<%= f.submit "Submit" %>
<% end %>
