<h3>XOR Example</h3>
Message 1 (hex): <%= params[:xor][:binary0] %><br/><br/<br/>
Message 2 (hex): <%= params[:xor][:binary1] %><br/><br/<br/>
Message 1 (binary): <%= @binary_0 %><br/><br/<br/>
Message 2 (binary): <%= @binary_1 %><br/><br/<br/>
XORed (binary): <%= @binary_result %><br/><br/<br/>
XORed (hex): <%= @hex_result %><br/><br/<br/>
XORed (base64): <%= @base64_result %><br/><br/<br/>
XORed (decode64 hex): <%= @decode64_result %><br/><br/<br/>
XORed (decode64 hex to binary): <%= @decode64_result_to_binary %><br/><br/<br/>
XORed (decode64 hex to binary, with message 2 removed): <%= @binary_xor_show_msg1 %><br/><br/<br/>
XORed (decode64 hex to binary, with message 1 removed): <%= @binary_xor_show_msg2 %><br/><br/<br/>
RSA (unpacked to hex): <%= @rsa_hex %><br/><br/<br/>
RSA (packed to original): <%= @rsa_original %><br/><br/<br/>
RSA (hex signed with RSA): <%= @enc %><br/><br/<br/>

An example of how the key_table should look (assume we use ONE identity pair):<br><br>

Also, Message 1(hex) will be considered the message, and Message 2(hex) is considered to be the key. <br>
Message 2(hex) will be encrypted by RSA here.<br>
And XORed(hex) will be encrypted by RSA as well.<br><br><br>

<table width='800'>
	<tr>
		<th>Serial</th>
		<th>Identity String</th>
		<th>Key Signed with RSA</th>
		<th>Message XORed Signed with RSA</th>
		<th>Signature for Key</th>
		<th>Signature for Message XOR Signed with RSA</th>
		<th>Verified Key</th>
		<th>Verfiied XORed Message</th>
	</tr>
	<tr>
		<td>000000001</td>
		<td>1</td>
		<td><%= @key_enc %></td>
		<td><%= @enc %></td>
		<td><%= @signed_key %></td>
		<td><%= @signed_enc %></td>
		<td><%= @verified_key %></td>
		<td><%= @verified_enc %></td>
	</tr>
</table><br><br><br>
