<!DOCTYPE html>
<html>
<head>
  <title>Count Me In!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- START_HIGHLIGHT -->
<body class='<%= controller.controller_name %>'>
<div id="container">
	<div id="menu">
		<%= link_to "Home", home_path %>
		<% if session[:user_id] %>
			<%= link_to "Examples", examples_path %>
			<%= link_to "Account", assets_path %>
			<%= link_to "Bank", bank_path %>
			<%= link_to "Log out", :controller => 'sessions', :action => 'logout' %>
		<% end %>
	</div>
	
	<div id="content">
		<div id="main"><%= yield %></div>
	</div>
	<div class="clear_container"></div>
	<div id="footer"></div>
</div>
</body>
</html>
